## Basics of Python
 we can write the python codes in our cell, change code to markdown, and simply write.
 - hit ctrl+Enter to execute code.
 - Shift+Enter next cell.

In [7]:
a = "Ankit"
print(a*5)

AnkitAnkitAnkitAnkitAnkit

In [10]:
a = 5
a = 10
print(a)

10

In [13]:
a

10

- variable name cannot start with a DIgit.
- Python Comment #
- Type command return the data type

In [16]:
a = 10
a = 78
a = "as"

In [17]:
type(a)

str

In [18]:
a = 5+5j
type(a)

complex

In [2]:
a = "Ankit"

In [5]:
a

'Ankit'

In [8]:
type(a)

str

In [11]:
a = "Ankit"
print(id(a))
a = 123
print(id(a))

2243800498992
2243740457136

In [14]:
b = "Ankit"
print(id(b))

2243800498992

## Python Numbers

In [18]:
a= 1
b = 2.3
c = 5+3j
print(a)
print(b)
print(c)

1
2.3
(5+3j)

In [21]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [25]:
a = 15
a = a+1
print(a)

16

In [29]:
a = 100000000000000000000000000000000000000000000000000000000000000000000001
b = 2
print(a*b)

200000000000000000000000000000000000000000000000000000000000000000000002

In [36]:
a = 12
b = 6
a/b

2.0

In [40]:
a//b

2

In [42]:
a**b           #it means 12 to the power 6 or (a to the power b)

2985984

In [44]:
a%b           #remainder

0

## Taking Inputs

In [50]:
age = input()
print("age : ",age)

58
age :  58

In [54]:
a = int(input())
b = int(input())
print(a+b)

10
145
155

In [57]:
a = input()

10

In [60]:
type(a)

str

In [62]:
a = float(input())

12

In [65]:
print(a)

12.0

In [67]:
a = "2.5"                
float(a)
print(a)
type(a)

2.5

str

In [78]:
a = 2.5                     #getting the integer part by me   
z = a//1

print(int (z))

2

In [81]:
a = 2.5                       #getting the decimal part by me


z = a//1
y = a -z
print(y)

0.5

In [88]:
a = 3
print("my age is",a)

my age is 3

notice above here, if i add a fucntion a there in print, It'll automatically add a space there.

In [6]:
print("this is App", end = " ")
print("le.")

this is App le.

## Program to get Average to 3 numbers.

In [9]:
a = int(input())
b = int(input())
c = int(input())
avg = (a+b+c)/3
print ("Average Marks :",avg)

12
13
15
Average Marks : 13.333333333333334

In [1]:
a = int(input())
b = int(input())
c = int(input())

print (c-b)

10
20
30
10