Here it will be just keys.

In [2]:
a =  { "apple","abc",23}

In [3]:
a

{23, 'abc', 'apple'}

In [4]:
type(a)

set

you cant do a[0]

a["abc"] also will not work, because no value

The main use case here is, values cant be duplicated.
"this","is","is","a","ball"
if we try to store it in the set, it will store, this is a ball

In [8]:
a

{23, 'abc', 'apple'}

but note order will not be maintained.

Two main things here to use is, "in" and "for"

In [10]:
for i in a:
    print(i)

apple
23
abc

In [11]:
23 in a

True

In [12]:
len(a)

3

## Add or Update data

In [13]:
a.add("temp")

In [14]:
a

{23, 'abc', 'apple', 'temp'}

In [15]:
b = {'abc','ghi'}

In [16]:
a.update(b)

In [17]:
a

{23, 'abc', 'apple', 'ghi', 'temp'}

In [18]:
a.remove("temp")

In [19]:
a

{23, 'abc', 'apple', 'ghi'}

In [20]:
a.remove("r")

KeyError: 'r'

In [21]:
a.discard(23)

In [22]:
a

{'abc', 'apple', 'ghi'}

In [23]:
a.discard("rr")

it will not throw error even if the value is not there.

In [24]:
a.clear()

In [25]:
a

set()

In [28]:
a.add(2)

In [29]:
a

{2}

## Funtions in set

In [32]:
a = {1,2,3,4}
b = {3,4,5,6}

In [33]:
a.intersection(b)

{3, 4}

In [34]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [35]:
a.difference(b)

{1, 2}

remove the things from a which b have in them.

In [36]:
b.difference(a)

{5, 6}

In [37]:
a.symmetric_difference(b)

{1, 2, 5, 6}

ignore the intersection part

following funtion will update a and b value

In [38]:
a.intersection_update(b)

In [39]:
a

{3, 4}

In [40]:
a = {1,2,3,4}
b = {3,4,5,6}

In [41]:
a.difference_update(b)

In [42]:
a

{1, 2}

In [43]:
a = {1,2,3,4}
b = {3,4,5,6}

In [44]:
a.symmetric_difference_update(b)

In [45]:
a

{1, 2, 5, 6}

In [46]:
a = {1,2,3,4}
b = {3,4,5,6}

In [47]:
a.union_update(b)

AttributeError: 'set' object has no attribute 'union_update'

there is no union update

In [49]:
a.issubset(b)

False

In [50]:
c = {3,4}

In [52]:
c.issubset(a)

True

In [53]:
a.issuperset(c)

True

In [57]:
d = {7,8}

In [58]:
a

{1, 2, 3, 4}

In [59]:
a.isdisjoint(d)

True

means a have nothing common with d

## Exercise

Some of all unique numbers

In [61]:
set1 = {1,2,3,1,3}

In [62]:
len(set1)

3

In [63]:
set1.add(2)

In [64]:
len(set1)

3

In [65]:
set1

{1, 2, 3}

NOTE here first line, it has 5 values but will store only the unique once

## Creating set

if you want to create an empty set.

In [67]:
a = {}

In [68]:
type(a)

dict

it will create a dictionary

In [70]:
a.add(2)

AttributeError: 'dict' object has no attribute 'add'

-- adding something will throw an error

so to create an empty set use this

In [72]:
s = set()

In [73]:
type(s)

set

## Exercise
SUM of unique elements

In [74]:
def sumUnique(l):
    s = set()
    for i in l:
        s.add(i)
    sum=0
    for i in s:
        sum +=i
    return sum

In [75]:
l = [2,3,4,5,5,6,7]
sumUnique(l)

27

## Exercise 2:

In [80]:
l = [2,3,3,334,2,34,4,55,66,78,78]

In [81]:
s = set()
for i in l:
    s.add(i)

len1 = len(l)-len(s)
print(len1)

3

First non repeating character

In [82]:
s = input("s : ")
t = []
for i in s:
    t.append(i)

d = {}
unique = []
for i in t:
    if i in d:
        d[i] = d[i]+1

    else:
        d[i] = 1

for id,val in d.items():
    if val==1:
        unique.append(id)
    
print(unique)
print(unique[0])

s : gdhlgHada
['h', 'l', 'H']
h

## Exercise 2 different names

In [83]:
a = input()
new = a.split()
d ={}

for i in new:
    d[i] = d.get(i,0)+1
var =0
for id,pair in d.items():
    if pair>1:
        var =1
        print(id, pair)

if var==0:
    print(-1)

Abhishek Harshit Ayush Iti
-1

## Exercise 3 Even count

In [84]:
a = input()
b = a.split()
d = {}
for i in b:
    d[i] = d.get(i,0) + 1

print(d)
result = []

bol = True
for id,pair in d.items():
    if pair%2==0:
        result.append(id)
        bol = False

print(result[0])
if bol:
    print(-1)

2 5 3 5 3 4
{'2': 1, '5': 2, '3': 2, '4': 1}
5

## Exercise 4 : Unique triangle

In [85]:
n = int(input("n: "))
d = {}
a = []
for i in range(n):
    temp = input()
    temp1 = list(map(int, temp.split()))

    temp1.sort()
    a.append(temp1)

for i in a:
    key = tuple(i)  # Convert the list to a tuple
    d[key] = d.get(key, 0) + 1

result = []
for key, pair in d.items():
    if pair == 1:
        result.append(key)
    
print("a:", a)
print(len(result))
print(d)

n: 5
7 6 5
5 7 6
8 2 9
2 3 4
2 4 3
a: [[5, 6, 7], [5, 6, 7], [2, 8, 9], [2, 3, 4], [2, 3, 4]]
1
{(5, 6, 7): 2, (2, 8, 9): 1, (2, 3, 4): 2}

### Major learnings from this:
1. list is not hashable, means you cant use a list as a key to the dictionary, you need to convert it to a tuple, ex - key = tuple(i)
2. we can use map function to convert the input while taking them, the rule is, whatever we are passing in map should be iterable, ie string, list, tuple etc. eg - 
str_nums = ["1", "2", "3", "4"]
int_nums = list(map(int, str_nums))
print(int_nums)
or we can use it like this also,
for i in range(n):
    temp = input()
    temp1 = list(map(int, temp.split()))

some other way -
int_nums = set(map(int, str_nums))

or

int_nums = tuple(map(int, str_nums))

or

words = ["apple", "banana", "cherry"]

word_lengths = list(map(len, words))

or

numbers = [1, 2, 3, 4]

doubled_nums = list(map(lambda x: x * 2, numbers))

or

numbers = [1, 2, 3, 4]

squared_nums = list(map(lambda x: x ** 2, numbers))

or

celsius_temperatures = [0, 25, 37, 100]

fahrenheit_temperatures = list(map(lambda c: (c * 9/5) + 32, celsius_temperatures))

## Exercise with Pairs with difference K(little complicated)

In [88]:

k = 4
list = [5,1,2,4]
# list = [2,-1,3,5,6,0,-1,2,6]
# list = [4,4,4,4]
target = 3
pairs = []

for i in range(0,len(list)):
    for j in range(1,len(list)):
        if i!=j and i<=j:
            pairs.append((list[i],list[j]))

print(list)
print(pairs)

# now difference part
count = 0
for i in pairs:
    check = abs(i[0]-i[1])
    if check ==target:
        count+=1
        print(i[0],i[1])

print(count)

[5, 1, 2, 4]
[(5, 1), (5, 2), (5, 4), (1, 2), (1, 4), (2, 4)]
5 2
1 4
2

its not an optmised solution.

## Another way of doing it.

In [90]:
k = 4
list = [2,-1,3,5,6,0,-1,2,6]
# list = [4,4,4,4]
target = 3
d = {}

for i in list:
    d[i] = d.get(i,0)+1

print(d)
result = []
#now difference part.
for id,pair in d.items():
    a = id+target
    b = id-target
    r = 0
    if a in d and d[a]!=0:

        print("yes",end=" ")
        print(id,id+3)
        r = d[id]*d[a]
        print(r)
        result.append(r)
    
    if b in d and d[b]!=0:
        print("yes",end=" ")
        print(id,id-3)
        r = d[id]*d[b]
        print(r)
        result.append(r)
    d[id] = 0

print(result)
print(sum(result))

{2: 2, -1: 2, 3: 1, 5: 1, 6: 2, 0: 1}
yes 2 5
2
yes 2 -1
4
yes 3 6
2
yes 3 0
1
[2, 4, 2, 1]
9

## Learnings
- you cant iterate in a dictionary while popping an item from the same dictionary in iteration.
- instead make the value to the same dictionary 0 and then use the for loop to avoid that item.